body {
  padding-top: 5rem;
  text-align: center;
  background-image: href=("Henna Collage.jpg")
  background-repeat: repeat;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.carousel-item img{
max-height: 500px;

}
.row {
  font-size: 12
}
.about-us {
  padding: 6rem 3rem;
  text-align: center;
}
